body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-card {
  width: calc(33.33% - 20px); /* Ajustar el ancho de cada tarjeta */
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-card h2 {
  margin-top: 0;
}

.character-card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.character-card p {
  margin: 5px 0;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-link {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #eee;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-link.active {
  background-color: #007bff;
  color: #fff;
}