* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(166, 252, 252);
}

h1 {
  background-color: red;
  padding: 10px;
  margin: 10px;
}

p {
  background-color: rgb(49, 186, 250);
  padding: 10px;
  margin: 10px;
}

a {
  background-color: rgb(198, 226, 43);
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
